{% extends "main.html" %}
{% block about %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>About Us! </strong>Hello have a good day
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <hr>
  
  <div class="container">
      <h1>On a Mission</h1>
  <p>
  
      KEEP LEARNING NEW THINGS!!<br><br>
      <img src="https://media1.tenor.com/images/b0cc81fff9c0001502639599b2d3be8f/tenor.gif?itemid=5354845">
  </p>
  </div>
{% endblock %}